<div class="form-card">
  <h1>ajouter noveau FaceSnap!</h1>
  <form [formGroup]="snapForm">
    <div class="form-group">
      <label for="title">Titre</label>
      <input type="text" id="title" formControlName="title" />
    </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea type="text" id="description" formControlName="description" rows="4"></textarea>
      </div>
      <div class="form-group">
        <label for="image">Image</label>
        <input type="text" id="imageURL" formControlName="imageURL" />
      </div>
      <div class="form-group">
        <label for="location">Location</label>
        <input type="text" id="location" formControlName="location" />
      </div>
   <div class="action-buttons">
    <button type="submit" (click)="onSubmitForm()">Enregistrer</button>
   </div>
  </form>
</div>

<div class="face-snap-card" *ngIf="faceSnapPreview$ | async as faceSnap">
    <h2>{{ faceSnap.title | uppercase }}</h2>
    <p>Mis en ligne {{ faceSnap.createdDate | date: 'à HH:mm, le d MMMM yyyy' }}</p>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>{{ faceSnap.description }}</p>
    <p *ngIf="faceSnap.location">Photo prise à {{ faceSnap.location }}</p>
</div>

